/* Mobile first  styles */
html {
    min-height: 95%;
    padding: 1rem;
    margin: 0;
    scroll-behavior: smooth;
}

body {
    background-color: #030304;
    color: #fff;
    font-family: chaparral-pro, serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    text-align: center;
    margin: 0;
    overflow-y: auto;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: chaparral-pro, serif;
    margin: 0.2rem;
}

h1 {
    font-weight: 700;
    font-size: 3rem;
}

h2 {
    font-weight: 400;
    font-size: 2rem;
}

h3 {
    font-weight: 700;
    font-size: 2rem;
}

h5 {
    font-family: proxima-nova, sans-serif;
    font-size: 0.9rem;
    font-weight: 800;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0.5rem;
}

a,
a:visited {
    color: #fff;
}

.selfie {
    position: relative;
    width: 100vw;
    height: 520px;
    top: -82px;
    object-fit: cover;
}

.bezel, .bezel--inset {
    clip-path: polygon(19% 3%, 88% 3%, 98% 13%, 98% 86%, 87% 94%, 21% 94%, 5% 85%, 5% 13%);
    background-color: #030304;
    color: white;
    z-index: 100;
}

.bezel--inset {
    position: relative;
    top: -7px;
    left: -7px;
    background-color: #FF9300;
    z-index: 50;
}

.data {
    position: absolute;
    top: 1rem;
    left: 1rem;
    width: 30rem;
    margin: 2rem;
    font-size: 22px;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

.controls {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    padding: 6rem 0;
    width: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.controls .group {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.tech-icon {
    width: 14px;
    height: 14px;
}

.tech-icon + .tech-icon {
    margin-top: 1rem;
}