html {
    min-height: 100%;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body {
    background-color: #252526;
    color: #fff;
    font-family: chaparral-pro, serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    text-align: center;
    margin: 0;
    overflow-y: auto;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: chaparral-pro, serif;
    margin: 0.2rem;
}

h1 {
    font-weight: 700;
    font-size: 3rem;
}

h2 {
    font-weight: 400;
    font-size: 2rem;
}

h3 {
    font-weight: 700;
    font-size: 2rem;
}

h5 {
    font-family: proxima-nova, sans-serif;
    font-size: 0.9rem;
    font-weight: 800;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0.5rem;
}

a,
a:visited {
    color: #fff;
}

.button {
    padding: 0.75rem 2rem;
    border: 2px solid #fff;
    border-radius: 0.5rem;
    font-family: proxima-nova, sans-serif;
    font-size: 0.9rem;
    font-weight: 800;
    text-transform: uppercase;
    text-decoration: none;
    outline: none;
    cursor: pointer;
    background-color: transparent;
}

.button:hover,
.button:active {
    background-color: #333;
}

@-webkit-keyframes hvr-pop {
    50% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
}
@keyframes hvr-pop {
    50% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
}

.hvr-pop {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.hvr-pop:hover,
.hvr-pop:focus,
.hvr-pop:active {
    -webkit-animation-name: hvr-pop;
    animation-name: hvr-pop;
    -webkit-animation-duration: 0.2s;
    animation-duration: 0.2s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}

.menu {
    display: flex;
    flex-direction: row;
    font-family: proxima-nova, sans-serif;
    font-size: 1rem;
    font-weight: 800;
    font-style: normal;
    margin-bottom: 1rem;
    max-width: 100vw;
    padding: 1rem;
    align-items: center;
}

.menu .icon {
    display: block;
    margin-right: 1rem;
}

.menu .title {
}

.main {
    padding: 1rem;
}

.intro-text {
    margin: 3rem 0;
}

.social {
    margin: 3rem 0 8rem;
    padding: 2rem 0;
}

.network {
    display: inline-block;
}

.network + .network {
    margin-left: 3rem;
}

.cta {
    margin-bottom: 50rem;
}

.section {
    padding: 1rem;
}

.section.full-width {
    padding: 0;
}

.value {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 2rem 0 4rem;
}

.value .icon {
    display: block;
    width: 96px;
    height: 96px;
    align-self: center;
}

.section.skills {
    background-color: #35528c;
}

.section.skills p {
    text-align: left;
}

.skill-list .loading {
    display: flex;
    flex-direction: row;
    justify-items: center;
}

.skill-list .loading .icon {
    width: 24px;
    height: 24px;
    align-self: center;
}

.background-image {
    width: 100%;
}

.footer {
    background-color: #000;
}

.footer .row {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.modal {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #333;
    flex-direction: column;
}

.modal.closed {
    display: none;
}

.modal.open {
    display: block;
}

.modal .close {
    text-align: right;
}

.modal .close .icon {
    width: 36px;
    height: 36px;
    margin: 1rem;
}

.modal .close:hover {
    cursor: pointer;
}

.modal .content {
    margin: 4rem 1rem;
    justify-items: center;
    text-align: center;
}

.modal .content h1 {
    margin: 2rem 0;
}
